/* Footer */

footer {
    width: calc(100% - 100px);
    position: absolute;
    bottom: 30px;
}

footer .divider-line-footer {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.4);
}

footer .vertical-line {
    width: 1px;
    height: 20px;
    background: rgba(0, 0, 0, 1);
}

footer p {
    color: #000000;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Report/Body/Small */
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.572px;
    opacity: 0.8;
}

footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .footer-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 12px 0;
}

footer .footer-right {
    color: #787575;
    text-align: right;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Report/Body/Small */
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.572px;
}