
.title-page-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 193.405px;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 12px;
}

.title-page-header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.title-page-header-left>img {
    width: 54.627px;
    height: 51px;
}

.title-page-header-left>h1 {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 22.313px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    /* 47.191px */
}

.title-page-header-right>h1 {
    text-align: right;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Report/Body/Regular */
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.572px;
}


.divider-line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.4);
}
