.diagram-view {
    background-color: white !important;
    width: calc(595px - 100px);
    height: calc(842px - 60px);
    padding: 30px 50px;
    position: relative;
    overflow: hidden;
}

.dv-body {
    margin: 24px 0;
    position: relative;
}

.dv-body>p {
    color: #003970;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Header 5 */
    /* font-replaced */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.572px;
    margin-bottom: 20px;
}


.dv-body .img {
    width: 412.429px;
    height: 283.984px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.dv-body .img1 {
    width: 412.429px;
    height: 240.888px;
    margin: auto;
    display: block;
}