.project-overview {
    background-color: white !important;

    width: calc(595px - 100px);
    height: calc(842px - 60px);
    padding: 30px 50px;
    position: relative;
    overflow: hidden;
}

/* Patterns */
.pat1 {
    position: absolute;
    top: calc(295px);
    left: calc(524px);
}

.pat2 {
    position: absolute;
    top: calc(508px);
    left: calc(-6px);
}


.po-body {
    margin: 50px 0;
    position: relative;
}

.po-body>p {
    color: #003970;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Header 1 */
    /* font-replaced */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    letter-spacing: -0.572px;
    margin-bottom: 50px;
}

.po-body .info {
    margin: 24px 0;
}

.po-body .info>p {
    color: #003970;
    text-align: left;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Header 5 */
    /* font-replaced */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    letter-spacing: -0.572px;
}

.po-body .table .left {
    color: #000;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Body/Small */
    /* font-replaced */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.572px;
    padding-right: 35px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.po-body .table .right {
    color: #000;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Header 6 */
    /* font-replaced */
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.572px;

}


/* Data Tables */
.po-body .data-tables {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    /* background-color: pink; */
    justify-content: space-between;
}

.po-body .render-function .render-table {
    width: 225px;
    max-width: 225px;
    border-spacing: 0px;
    border-collapse: collapse;
    /* border-top: 2px solid red; */

}

.po-body .render-function p {
    color: #003970;
    text-align: left;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Header 5 */
    /* font-replaced */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    letter-spacing: -0.572px;
}

.po-body .render-table thead {
    color: #000;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Body/Regular */
    /* font-replaced */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.572px;
    text-align: left;
    /* outline: 1px solid #000; */
}

.po-body .render-table .left {
    color: #000;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Body/Small */
    /* font-replaced */
    font-size: 8px;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: normal; */
    letter-spacing: -0.572px;
    width: 145px;
    padding: 5px 0px 5px 10px;
}

.po-body .render-table .right {
    color: #000;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Header 6 */
    /* font-replaced */
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.572px;

    padding: 5px 10px 5px 25px;
}

.po-body .render-table thead td:nth-child(1) {
    padding: 5px 0px 5px 10px;
}

.po-body .render-table thead td:nth-child(2) {
    padding: 5px 15px 5px 25px;
}

.po-body .render-table tbody {
    border-top: 1px solid #A3A3A3;
    border-bottom: 1px solid #A3A3A3;
}


.po-body .render-table tbody tr:nth-child(odd) {
    background-color: #EEE;
    /* outline: 1px solid #000; */
}