.table-of-contents {
    background-color: white !important;

    width: calc(595px - 100px);
    height: calc(842px - 60px);
    padding: 30px 50px;
    position: relative;
    overflow: hidden;
}

.toc-body {
    margin: 50px 0;
    position: relative;
}

.toc-body>p {
    color: #003970;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Header 1 */
    /* font-replaced */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    letter-spacing: -0.572px;
}

.toc-body .toc-main {
    color: #000;
    /* font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off; */

    /* Report/Body/Regular */
    /* font-replaced */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    letter-spacing: -0.572px;
}

.toc-body .toc-entry {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    /* margin: 4px 0; */
}
.toc-body .toc-sub-entry {
    display: flex;
    padding-left: 10px;
    width: calc(100% - 10px);
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    /* margin: 4px 0; */
    
}

.toc-body a {
    color: inherit;
    text-decoration: none;
}
